$gray2: #828282;
$turquoise_bright: #00EAD9;
$dark_green: #006666;
$turquoise: #3AB8BC;
$ligth_green: #E6F0F0;

$shadow_main: 0px 15px 40px rgba(0, 0, 0, 0.1);
$shadow_hover: 0px 8px 20px rgba(0, 0, 0, 0.06);
$shadow_pressed: 0px 0px 4px #BDBDBD;
